$LIGHT_PINK: #f2dbd8;
$PINK: #dbb9bb;
$LIGHT_TAN: #edd5c4;
$TAN: #e1bea4;
$DARK_TAN: #bd9881;
$DARK_GRAY: #222222;
$PURPLE: #7d6b81;
$WHITE: #ffffff;

$MEDIUM: 769px;
$LARGE: 1025px;

* {
  margin: 0;
  padding: 0;
}

.page {
  background-color: $LIGHT_PINK;
  font-family: "Spectral", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: $DARK_GRAY;
  display: flex;
  flex-direction: column;
  height: 100vh;

  >.menu {
    font-family: "Playfair Display SC", serif;
    background-color: $DARK_TAN;
    position: fixed;
    width: 100%;
    display: flex;
    flex: 1;
    box-shadow: 0 0 0 $LIGHT_PINK;

    @media screen and (min-width: $MEDIUM) {
      height: 5vmax;
    }

    &.collapsed {
      ul {
        li {
          display: none;

          a {
            overflow: hidden;
            text-align: center;
          }

          &.current_page_item {
            display: flex;

            a {
              max-height: unset;
            }
          }

          @media screen and (min-width: $MEDIUM) {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            a {
              overflow: unset;
            }
          }
        }
      }

      @media screen and (min-width: $MEDIUM) {
        flex-direction: row;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: auto;
      list-style-type: none;

      @media screen and (min-width: $MEDIUM) {
        flex-direction: row;
      }

      li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.1em 0;

        a {
          display: inline-flex;
          height: auto;
          text-transform: uppercase;
          color: $DARK_GRAY;
          text-decoration: none;
          text-align: center;
        }

        &.current_page_item {
          a::after, a::before {
            content: "\2022";
            color: $LIGHT_PINK;
            padding: 0 0.5em;
          }
        }
      }
    }
  }

  > .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vmax;

    .home {
      height: auto;
      width: 100vmin;
    }
  }
}
