@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.page {
  background-color: #f2dbd8;
  font-family: "Spectral", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #222222;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow: scroll;
}
.page > .menu {
  font-family: "Playfair Display SC", serif;
  background-color: #bd9881;
  position: fixed;
  width: 100%;
  display: flex;
  flex: 1;
  box-shadow: 0 0 0 #f2dbd8;
}
@media screen and (min-width: 769px) {
  .page > .menu {
    height: 5vmax;
  }
}
.page > .menu.collapsed ul li {
  display: none;
}
.page > .menu.collapsed ul li a {
  overflow: hidden;
  text-align: center;
}
.page > .menu.collapsed ul li.current_page_item {
  display: flex;
}
.page > .menu.collapsed ul li.current_page_item a {
  max-height: unset;
}
@media screen and (min-width: 769px) {
  .page > .menu.collapsed ul li {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .page > .menu.collapsed ul li a {
    overflow: unset;
  }
}
@media screen and (min-width: 769px) {
  .page > .menu.collapsed {
    flex-direction: row;
  }
}
.page > .menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  list-style-type: none;
}
@media screen and (min-width: 769px) {
  .page > .menu ul {
    flex-direction: row;
  }
}
.page > .menu ul li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1em 0;
}
.page > .menu ul li a {
  display: inline-flex;
  height: auto;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
  text-align: center;
}
.page > .menu ul li.current_page_item a::after, .page > .menu ul li.current_page_item a::before, .page > .menu ul licurrent_page_parent a::after, .page > .menu ul licurrent_page_parent a::before, .page > .menu ul li.current_page_ancestor a::after, .page > .menu ul li.current_page_ancestor a::before {
  content: "•";
  color: #f2dbd8;
  padding: 0 0.5em;
}
.page > .content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vmax;
}
.page > .content .home {
  height: auto;
  width: 100vmin;
}
@media screen and (min-width: 769px) {
  .page > .content .home {
    width: 90vmin;
  }
}
.page > .content .about {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url("static/about-background.png");
  background-attachment: scroll;
  background-position: 2% center;
  background-repeat: no-repeat;
  height: 100%;
}
.page > .content .about .page-title {
  text-align: center;
}
.page > .content .about .page-content {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}
.page > .content .about .page-content ul {
  padding-left: 1em;
}
@media screen and (min-width: 769px) {
  .page > .content .about {
    flex-direction: row;
    height: 100%;
  }
}
@media screen and (min-width: 769px) {
  .page > .content .about > span {
    flex: 1;
  }
}
@media screen and (min-width: 769px) {
  .page > .content .about > div {
    flex: 1;
  }
}
.page > .content .doula-services {
  display: flex;
  flex-direction: column;
}
.page > .content .doula-services .menu-doula-services-container {
  background-color: #e1bea4;
}
.page > .content .doula-services .menu-doula-services-container ul {
  list-style-type: none;
}
.page > .content .doula-services .menu-doula-services-container ul li a {
  color: #222222;
  text-decoration: none;
}
.page > .content .doula-services .menu-doula-services-container.collapsed ul li {
  display: none;
}
.page > .content .doula-services .menu-doula-services-container.collapsed ul li a {
  display: none;
}
.page > .content .doula-services .menu-doula-services-container.collapsed ul li.current-menu-item {
  display: unset;
}
.page > .content .doula-services .menu-doula-services-container.collapsed ul li.current-menu-item a {
  display: unset;
}
@media screen and (min-width: 769px) {
  .page > .content .doula-services {
    flex-direction: row;
  }
  .page > .content .doula-services .menu-doula-services-container {
    flex: 1;
    background-color: transparent;
  }
  .page > .content .doula-services .menu-doula-services-container ul {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-evenly;
    align-items: center;
  }
  .page > .content .doula-services .menu-doula-services-container ul li {
    background-image: url("static/tan-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page > .content .doula-services .menu-doula-services-container ul li.current_page_item {
    background-image: url("static/pink-icon.png");
  }
  .page > .content .doula-services .services-content {
    flex: 3;
    padding-right: 1em;
  }
  .page > .content .doula-services .services-content.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page > .content .doula-services .services-content.pricing h2 {
    text-align: center;
    margin-top: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
