$LIGHT_PINK: #f2dbd8;
$PINK: #dbb9bb;
$LIGHT_TAN: #edd5c4;
$TAN: #e1bea4;
$DARK_TAN: #bd9881;
$DARK_GRAY: #222222;
$PURPLE: #7d6b81;
$WHITE: #ffffff;

$MEDIUM: 769px;
$LARGE: 1025px;

body {
  padding: 0;
  margin: 0;
  background-color: $LIGHT_PINK;
}